/* Style relative to index.html */
section {
    min-height: 100vh;
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box;
}

/* SECTIONS */

section#home_section {
    background: url("../img/pexels-kaboompics-com-6069.jpg");
    background-size: cover;
    background-position: center; 
    padding: 10vh 10vw;
    width: 100%; 
    box-sizing: border-box;
}
section#home_section > div.slogan {
    color: white;
    max-width: 100%;
    margin: 33vh auto 0 auto;
}
section#home_section > div.slogan > h1 {
    font-size: 3em;
    margin: 0;
}
section#home_section > div.slogan > p {
    font-weight: 100;
    margin: 0;
}

section#how_section {
    padding: 10vh 10vw;
}

section#how_section > p{
    margin: 0 0 25px 0;
    font-weight: 300;
}

section#how_section > h2{
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
}

section#howSection > h3{
    margin: 0 0 3px 0;
    text-transform: uppercase;
}

section#howSection > h4 {
    margin: 0;
    text-transform: uppercase;
}

section#downloadSection {
    padding: 10vh 10vw;
    text-align: center;
}



section#downloadSection > p {
    margin: 0 0 25px 0;
    font-weight: 300;
}

section#download_section > h2 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
}

section#download_section > h3 {
    margin: 0 0 3px 0;
    text-transform: uppercase;
}


#downloadSection > h3 > a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

#downloadSection > h3 > a:hover{
    text-decoration: none;
    color: rgb(124, 124, 124);
}


footer > hr{
    margin: 0 10% 0 10%;
    border-bottom: black;
}
#logoEnd > p{    
    text-align: center;
    font-size: 80%;
}

#footerAEnd{
    position: relative;
    display: block;
    margin: auto;
}
#footerAEnd > ul > li{
    padding: 0 7% 0 7%;
    font-size: 120%;
}

#footerAEnd > ul > li > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#footerAEnd > ul > li > a:hover{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
footer{
    background: linear-gradient(90deg, white, rgb(224, 224, 224), white);
    padding-top: 0.5%;
  }
